@import url('https://fonts.cdnfonts.com/css/bubbleboddy');

:root{
    --dark-blue: #023047;
    --mid-blue: #219ebc;
    --light-blue: #8ecae6;
    --yellow: #ffb703;
    --orange: #fb8500;
}

body#inicio{
    background-color: #8ecae6;
}

body#pausa{
    background-color: #8ecae6;
}

body#settings{
    background-color: #8ecae6;
}

body#lobby{
    background-color: #8ecae6;
}

body#puntuaciones{
    background-color: #219ebc;
}

h1{
    font-size: 30px;
    font-family: 'bubbleboddy', sans-serif;
    color: #ffffff;
    margin: 0;
}

h2{
    font-size: 30px;
    font-family: 'bubbleboddy', sans-serif;
    color: #ffffff;
    text-shadow:0 0 5px #023047;

    margin: 0;
    padding: 1rem;
}

h3{
    font-size: 40px;
    font-family: 'bubbleboddy', sans-serif;
    color: #ffffff;
    height: 40px;
    margin-top: 50px;
}

.main{
    width: 33%;
    height: 95vh;
    margin-right: 10px;
    margin-left: auto;
    text-align: center;
    padding-top: 20px;
}

.logo{
    font-size: 90px;
    font-family: 'bubbleboddy', sans-serif;
    margin: 0;
    color: #fb8500;
    -webkit-text-stroke: 5px #fff;

}

.subtitulo{
    font-size: 80px;
    font-family: 'bubbleboddy', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    color: #fb8500;
    -webkit-text-stroke: 3px #fff;
    padding-top: 30px;
}

.botones{
    margin-top: 10%;
}

button{
    color: white;
    font-family: 'bubbleboddy', sans-serif;
    font-size: 30px;
    text-shadow:0 0 5px #023047;
    width: 300px;
    height: 70px;
    margin-top: 30px;
    background-color: var(--mid-blue);
    border-radius: 20px;
    border-style:solid;
    border-width: 5px;
    border-color: rgb(255, 255, 255);
    box-shadow: 0 0 0 5px #023047;
    cursor: pointer;
}

.salir{
    background-color: var(--orange);
    box-shadow: 0 0 0 5px  #3c2b16;
}

#salirAjustes{
    margin-top: 60px;
}

#jugar{
    background-color: var(--dark-blue);
}

.pausamenu{
    background-color: var(--light-blue);
    border-radius: 20px;
    border-style: solid;
    border-width: 10px;
    border-color: #219ebc;
    box-shadow: 0 0 0 5px #023047;

    text-align: center;
    
    position: fixed;
    left: 50%;
    top: 50%;
    height: 500px;
    margin-top: -250px; /* half of you height */
    width: 400px;
    margin-left: -200px; /* half of you width */
}

.ajustes{
    border-radius: 20px;
    border-style: solid;
    border-width: 10px;
    border-color: #219ebc;

    text-align: center;
    background-color: #023047;

    position: fixed;
    left: 50%;
    top: 50%;
    height: 500px;
    margin-top: -250px; /* half of you height */
    width: 400px;
    margin-left: -200px; /* half of you width */


    box-shadow: 0 0 0 5px #ffffff;
}

#juego{
    background-color: #8ecae6;
}

.box{
    background-color: #219ebc;
    display: flex;
    align-items: center;
    width: 300px;
    height: 50px;
    border-radius: 20px;
    box-shadow: 0 0 0 5px #8ecae6;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.box .slider{
    width:100%;
    height: 100%;
    display: flex;
    margin-right: 20px;
    margin-left: 20px;
}

.box .slider input{
    margin-top: 10%;
    height: 15%;
    width: 100%;
    border-radius: 20px;
    appearance: none;
    outline: none;
}

.box .value{
    font-family: sans-serif;
    font-size: 20px;
    color: #ffffff;
    padding-right: 20px;
    font-weight: 600;
    text-align: center;
}

.slider input{
    accent-color: var(--light-blue);
}

.score{
    height: 60px;
    width: 400px;
    border-radius: 20px;
    background-color: #023047;
    box-shadow: 0 0 0 5px white;

    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.score1{
    margin-top: 0;
    margin-bottom: 0;

    margin-left: 10%;
    text-align: left;
    display: inline-block;
    width: 40%; 
}

.score2{
    margin-top: 0;
    margin-bottom: 0;

    margin-right: 10%;
    text-align: right;
    display: inline-block;
    width: 40%;
}

article{
    height: 100%;
}

.lobby{
    background-color: #023047; 
    border-radius: 30px;
    height: 97vh;
    border-radius: 10px;
}

.lobbyText{
    color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding-top: 30px;
}

.lobbyDiv{
    width: 50%;
    height: 100%; 
    margin-bottom:auto;
    float: right
}

section{
    padding-left: 20px;
    padding-right: 20px;
}

#modo{
    text-align: center;
    height: 50%;
}

#dificultad{
    text-align: center;
    height: 50%;
}

#mapa{
    text-align: center;
    height: 70%;
}

#botonComenzar{
    height: 30%;
}

.botonComenzar{
    color: white;
    font-family: 'bubbleboddy', sans-serif;
    font-size: 5vh;
    text-shadow:0 0 5px #023047;
    width: 60%;
    height: 30%;
    margin: 0;

    background-color: #fb8500;
    border-radius: 20px;
    border-style:solid;
    border-width: 5px;
    border-color: rgb(255, 255, 255);
    box-shadow: 0 0 0 5px #ffb703;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
}

.salirLobby{
    color: white;
    font-family: 'bubbleboddy', sans-serif;
    font-size: 4vh;

    text-shadow:0 0 5px #023047;
    width: 50%;
    height: 20%;


    background-color: #023047;
    border-radius: 20px;
    border-style:solid;
    border-width: 0px;
    border-color: rgb(255, 255, 255);



    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
}

.botonModo{
    color: white;
    font-family: 'bubbleboddy', sans-serif;
    font-size: 5vh;
    width: 50%;
    height: 25%;
    margin: 3vh;

    background-color: #219ebc;
    border-radius: 20px;
    border-style:solid;
    border-width: 5px;
    border-color: rgb(255, 255, 255);

}

.botonDificultad{
    color: white;
    font-family: 'bubbleboddy', sans-serif;
    font-size: 5vh;
    width: 50%;
    height: 25%;
    margin: 3vh;

    background-color: #219ebc;
    border-radius: 20px;
    border-style:solid;
    border-width: 5px;
    border-color: rgb(255, 255, 255);

}

.mapa{
    border-radius: 20px;
    width: 25%;
    height: 50vh; 
    float: right;
    margin: 4%;
    background-color: #ffffff;
}

.mapa img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.imgBtn{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--mid-blue);
    border-width: 0px;
    border-color: rgb(255, 255, 255);
    box-shadow: 0 0 0 5px #ffffff;
}
.active {
    background-color: #ffb703;
    box-shadow: 0 0 0 5px #ffb703;
}

*:disabled{
    opacity: 50%;

}

.puntuaciones{
    border-radius: 10px;

    height: 90%;
    width: 80%;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

#tablero{
    text-align: center;
    height: 80%;
}

#botonPuntuaciones{
    text-align: center;
    height: 20%;
}

.tableroDiv{
    margin: 0;
    background-color: #8ecae6;
    

    width: 70%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 0 5px #023047;

    border-style:solid;
    border-width: 5px;
    border-color: #ffffff;


    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

table{
    width: 80%;
    height: auto;

    margin: 0 10% 10% 10%;
}

.header{
    background-color: #023047;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;

    padding: 1%;
}

#jugador{
    width: 70%;
    text-align: left;
    padding: 1%;
    padding-left: 5%;

    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;

}

#puntaje{
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;

}